<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ProcessPath" value="C:\Users\320050491\StaticAnalysisTool\CaseStudy\HelloWorld\bin\Debug\HelloWorld.exe" />
    <add key="SolutionPath" value="C:\Users\320050491\StaticAnalysisTool\CaseStudy\CaseStudy.sln" />
  </appSettings>
</configuration>